<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team 1</title>

    <!-- Bootstrap Core CSS -->
    <link href={{url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css")}} rel="stylesheet">

    <!-- Theme CSS -->
    <link href={{url_for("static", filename="css/freelancer.min.css")}} rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{url_for("static", filename="vendor/font-awesome/css/font-awesome.min.css")}} rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .row{
            margin-top:40px;
            padding: 0 10px;
        }
        .clickable{
            cursor: pointer;   
        }

        .panel-heading div {
            margin-top: -18px;
            font-size: 15px;
        }
        .panel-heading div span{
            margin-left:5px;
        }
        .panel-body{
            display: none;
        }
    </style>

</head>

<body id="page-top" class="index" ng-app="myApp" ng-controller="myCtrl">    
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">ADS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/home">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/classify">Application</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://public.tableau.com/views/Visualization_42/Dashboard1?:embed=y&:display_count=yes" target="_blank">Dashboard</a>
                    </li>
                    <li class="page-scroll">
                        <a href={{url_for("static", filename="Report.pdf")}} target="_blank">Documentation</a>
                    </li>
                    <li class="page-scroll">
                        <a href={{url_for("static", filename="Presentation.pptx")}} target="_blank">Presentation</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://github.com/aankul/Team_1_Final_Project" target="_blank">Github</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
            
                    <div class="intro-text">
                        <span class="name">Team 1</span>
                        <hr class="star-light">
                        <span class="skills">NETWORK INTRUSION DETECTION</span>
                    <hr class="star-light">
                    <br>
        </div>
    </header>

    <br><br>
    <!-- Table -->
    <form class="form-horizontal" method="POST" action="classify">
        <div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">

      <button type="submit" class="btn btn-default" on-click="GetAllData()" style="margin-left: 300px">Start Simulation</button>

    </div>

  </div>

</form>
<br>
    <div class="container">        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="margin-left: 400px">Data Packets</h3>
                
                    </div>
                    
                    <div class="panel-body">
                        <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
                    </div>
                    <table class="table table-hover" id="dev-table">
                        <thead>
                            <tr>
                                
                                <th>Duration</th>
                                <th>Protocol Type</th>
                                <th>Service</th>
                                <th>Flag</th>
                                <th>Src_Bytes</th>
                                <th>Dst_Bytes</th>
                                <th>Count</th>
                                <th>Logged_In</th>
                                <th>Serror_Rate</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
        {% for response in responses %}
          <tr>          
                <td>{{responses[response]['duration']}}</td>
                <td>{{responses[response]['protocol_type']}}</td>
                <td>{{responses[response]['service']}}</td>
                <td>{{responses[response]['flag']}}</td>
                <td>{{responses[response]['src_bytes']}}</td>
                <td>{{responses[response]['dst_bytes']}}</td>
                <td>{{responses[response]['count']}}</td>
                <td>{{responses[response]['logged_in']}}</td>
                <td>{{responses[response]['serror_rate']}}</td>
                {% if responses[response]['result']=='attack' %}
                <td style="color:red;">{{responses[response]['result']}}</td>
                {% else %}
                <td style="color:green;">{{responses[response]['result']}}</td>
                {% endif %}
          </tr>         
          {% endfor %}  
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
<br>
    <img src={{url_for("static", filename="img/binRed.jpg")}} height="5%" width="5%" style="margin-left: 500px">

    <img src={{url_for("static", filename="img/binGreen.jpg")}} height="3%" width="5%" style="margin-right: 600px" class="pull-right">

    <br>

    <span style="margin-left: 500px">{{red}}</span>
    <span style="margin-right: 600px" class="pull-right">{{green}}</span>


    <!-- Table End -->

    <br><br><br><br><br><br>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
            
                    <div class="footer-col col-md-4" style="float: right;">
                        <h3>Team</h3>
                        <ul class="list-inline">
                            <li>
                                <p>Amulya Aankul,</p>
                            </li>
                            <li>
                                <p>Nand Govind Modani,</p>
                            </li>
                            <li>
                                <p>Saksham Agarwal</p>
                            </li>
                        </ul>
                    </div>

                    

                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Team 1 ADS Fall 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>




    <!-- jQuery -->
    <script src={{url_for("static", filename="vendor/jquery/jquery.min.js")}}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={{url_for("static", filename="vendor/bootstrap/js/bootstrap.min.js")}}></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src={{url_for("static", filename="js/jqBootstrapValidation.js")}}></script>
    <script src={{url_for("static", filename="js/contact_me.js")}}></script>

    <!-- Theme JavaScript -->
    <script src={{url_for("static", filename="js/freelancer.min.js")}}></script>

</body>

</html>
